<% provide(:title, 'Home') %>

<div id="mainContent">
	<div id="section1" class="section1">
		<div id="coin-slider-section" class="coin-slider-section">
			<br/><br/><br/><br/>
			<h1>Welcome to Long Beach America</h1>
			<div id='coin-slider'>
				<a href="#">
			        <img src='assets/home/rotating-1.jpg' />
			        <span>
			            San Francisco Tournament - First Game
			        </span>
			    </a>
			    <a href="#">
			        <img src='assets/home/rotating-2.jpg' />
			        <span>
			            Orange County Tournament - Champions
			        </span>
			    </a>
			   

			     <a href="#">
			        <img src='assets/home/rotating-4.jpg' />
			        <span>
			            San Francisco Pier 39
			        </span>
			    </a> 

			    <a href="#">
			        <img src='assets/home/rotating-3.jpg' />
			        <span>
			            San Francisco Tournament - Second Game
			        </span>
			    </a>

			     <a href="#">
			        <img src='assets/home/rotating-5.jpg' />
			        <span>
			            San Francisco Pier 39
			        </span>
			    </a>
			</div>
		</div>


		<div class="clear homeSubPicsArea">
			<div class="homeSubPics">
				<img src="assets/home/lb.jpg" />
				<h2>Long Beach Futsal</h2>
				<p>Champions twice back to back.  Played against boys and girls and won two championships.</p>
			</div>
			<div class="homeSubPics">
				<img src="assets/home/sg.jpg" />
				<h2>South Gate Goals</h2>
				<p>Played against boys two seasons and lost in semi-finals.</p>
			</div>
			<div class="homeSubPics">
				<img src="assets/home/sf.jpg" />
				<h2>San Francisco Nationals</h2>
				<p>Won 2nd Place, lost in extra time.  Girls played an excellent tournament.</p>
			</div>
		</div>

	</div>







	<!-- Section 2 -->

	<div id="section2" class="section2">
		<br/><br/><br/><br/>

		<div class="rowOfPictures">
			<h1>Our Soccer Players</h1>
			<div class="rowOfPicturesPic">
				<img src="assets/players/player2.jpg" />
				<h2>Amaris</h2>
			</div>
			<div class="rowOfPicturesPic">
				<img src="assets/players/sofia.jpg" />
				<h2>Sofia</h2>
			</div>
			<div class="rowOfPicturesPic">
				<img src="assets/players/yesenia-gutierrez.jpg" />
				<h2>Yesenia</h2>
			</div>
			<div class="rowOfPicturesPic">
				<img src="assets/players/diana.jpg" />
				<h2>Diana</h2>
			</div>
		</div>

		<div class="rowOfPictures">
			<div class="rowOfPicturesPic">
				<img src="assets/players/gisel.jpg" />
				<h2>Gisel</h2>
			</div>
			<div class="rowOfPicturesPic">
				<img src="assets/players/jordan.jpg" />
				<h2>Jordan</h2>
			</div>
			<div class="rowOfPicturesPic">
				<img src="assets/players/player1.jpg" />
				<h2>Player</h2>
			</div>
			<div class="rowOfPicturesPic">
				
			</div>
		</div>
	</div>
	<div id="section3" class="section3">
		<br/><br/><br/><br/>
		<div class="coachContainer">
			<h1>Coach: Carlos Barragan</h1>

			<p>Carlos has extensive socer experience, he has his California soccer license and playing experience. He currently is the coach of Long Beach America and also offers private trainings.</p>

			<br/>
			<div class="coachPhotoContainer">
				<img src="assets/players/carlos-barragan.jpg">
			</div>

			<div class="coachVideoContainer">
				<iframe width="640" height="360" src="http://www.youtube.com/embed/6gAFC2Oq5fI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#coin-slider').coinslider({ width: 960, height:450, navigation: true, delay: 5000, effect: 'swirl'});
    });
</script>
